<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- <header>
        <div class="header-container">
            <h1>Legal ChatAI</h1>
        </div>
    </header> -->

    <div class="container">
        <h1 class="title">Hello, What do you want to do today?</h1>
        <form id="promptForm" onsubmit="submitPrompt(); return false;">
            <div class="inputContainer">
                <input type="text" name="userPrompt" id="userInput" placeholder="Type your query..." required>
                <button type="submit" id="submitBtn" >Submit</button>
            </div>
        </form>
        <div class="examplePrompts">
            <!-- <h2>Example Prompts:</h2> -->
            <ul id="promptList">
                <li onclick="addPrompt('Paraphrase the text')">Paraphrase the text</li>
                <li onclick="addPrompt('Draft the document')">Draft the document</li>
                <li onclick="addPrompt('Proofread a document')">Proofread a document</li>
                <li onclick="addPrompt('Review document')">Review document</li>
                <li onclick="addPrompt('Answer question about a document')">Answer question about a document</li>
                <li onclick="addPrompt('Summarise a document')">Summarise a document</li>
                <li onclick="addPrompt('Create ideas for Brainstorming')">Create ideas for Brainstorming</li>
                <li onclick="addPrompt('Legal research')">Legal research</li>
            </ul>
        </div>
    </div>

    <!-- <footer>
        <div class="footer-container">
            <p>&copy; 2024 LegalChat</p>
        </div>
    </footer> -->

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
